body{
    text-align: center;
}
ul{
    background-color: black;
    color: aliceblue;
    font-size: 40;
}
#Welcome{
    width: 1000px;
    height: 500px;     
}
#mycarousel img{
    height: 150px;
    margin-top: 35; 
}
.carousel inner p{
    margin-bottom: 16px;
    margin-top: 16px;
    color: aliceblue;
    font-size: -20;
}